:root {
  --heading-font-family: "Montserrat", sans-serif;
  --default-font-family: "Roboto", sans-serif;
  --branding-color: rgb(6, 94, 108);
  --secondary-color: rgb(252, 219, 212, 0.95);
  --accent-color: rgb(180, 20, 28);
}

body {
  background-image: url(/../images/blue.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  background-color: rgb(252, 219, 212);
  border: 1px solid var(--accent-color);
}

.about-container {
  background-color: var(--secondary-color);
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 65px;
  font-weight: bold;
  text-shadow: 3px 2px 5px var(--accent-color);
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
}

.hero {
  background-color: rgb(252, 219, 212, 0.6);
  display: block;
  text-align: center;
  border-radius: 5px;
  margin: 125px auto;
  padding: 40px;
  max-width: 850px;
}

.btn-branding {
  background-color: rgb(252, 219, 212);
  color: var(--accent-color);
  margin-top: 1em;
  transition: ease-in-out 2ms;
  border: 1px solid var(--accent-color);
}
.btn-branding:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

hr {
  color: var(--accent-color);
  max-width: 75%;
}

.project-descriptions {
  line-height: 1.7;
  margin-top: 60px;
  padding: 50px;
}

.the-projects {
  background-color: var(--secondary-color);
  padding: 60px;
  max-width: 100%;
}

.project-images {
  max-width: 450px;
  display: block;
  margin-top: 60px;
}

.about-page-top {
  margin-top: 40px;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 100px;
}

.selfie {
  max-width: 300px;
  margin-left: 188px;
  border-radius: 25px;
}

/* .work-inquiry {
  background: var(--secondary-color);
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 78px;
  box-shadow: 5px 5px 8px 2px rgb(180, 20, 28, 0.2);
} */

.email-link {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: black;

  font-size: 22px;
}
.email-link:hover {
  text-decoration: underline;
  color: var(--accent-color);
}
.footer-bottom {
  background-color: red;
  max-width: 450px;
  display: block;
  margin: 0 auto;
  justify-content: center;
}
footer .social-links {
  text-decoration: none;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--accent-color);
  background-color: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

@media (max-width: 990px) {
  .project-descriptions {
    padding: 5px;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
  }
  .the-projects {
    padding: 5px 0px 25px 0px;
    margin-bottom: 10px;
    margin-top: none;
  }
  h1 {
    font-size: 46px;
  }
  body {
    background-image: url(/../images/blue-sm-3.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
  }
  .about-page-top {
    padding-bottom: 10px;
    margin: 10px;
    padding-left: 2px;
    text-align: center;
  }
  .selfie {
    max-width: 210px;
    display: block;
    margin: 20px auto;
  }
  footer a.btn.btn-branding {
    margin: 0 0 20px 0;
  }
}
